*.onnx filter=lfs diff=lfs merge=lfs -text

# Set default encoding for all text files
* text=auto

# Specific file types
*.xml text
*.kt text
*.java text
*.gradle text
*.gradle.kts text
*.properties text
*.md text
*.yaml text
*.yml text
*.json text
